<% layout('layouts/boilerplate')%>
<div class="row mt-5">
  <h1 class="text-center text-white">Edit Camp</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/camps/<%=camp._id%>?_method=PUT"
      method="post"
      novalidate
      class="validForm"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label text-white" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="camp[title]"
          value="<%=camp.title%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label text-white" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="camp[location]"
          value="<%=camp.location%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="text-white" for="input">Upload Extra Images</label>
      <div class="input-group mb-3 mt-2">
        <input
          type="file"
          class="form-control"
          id="input"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-labe text-white" for="price">Camp Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price">$</span>
          <input
            type="text"
            id="price"
            class="form-control"
            placeholder="0.00"
            name="camp[price]"
            value="<%=camp.price%>"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label text-white" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="camp[description]"
          required
        >
<%= camp.description%></textarea
        >
      </div>
      <div class="mb-4">
        <h3 class="text-center text-white">Tick to Delete</h3>
        <% camp.images.forEach(function(img, i) { %>
            <img src="<%=img.thumbnail%>" class="img-thumbnail">
            <div class="form-check-inline">
              <input type="checkbox" id=<%=i%> name="deleteImages[]" value="<%=img.filename%>">
            </div>
          <% }); %> 
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button class="btn btn-success" style="width: 8rem;">Update Camp</button>
      <a class="btn btn-info" style="width: 8rem;" href="/camps/<%= camp._id%>">Back to Camp</a>
    </div>
    </form>
  </div>
</div>
