<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/stylesheets/favicon.ico" type="image/x-icon" />
    <link
      rel="preload"
      as="image"
      href="/stylesheets/mitchell-luo-CEowgw6VXbE-unsplash.jpg"
    />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/stars.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />

    <!-- Leaflet MarkerCluster CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
    />

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Leaflet MarkerCluster JS -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <title>NZ Camps</title>
  </head>
  <% let rootPath = '../'; %>
  <body class="d-flex flex-column background__color">
    <%- include('../partials/navbar'); %>
    <main class="container mt-5">
      <div class="mt-5">
        <h1 class="text-center text-white">Explore Camps</h1>
      </div>
      <%- include('../partials/flash'); %> <% if(!user) { %>
      <div class="mt-5 text-center">
        <h3 class="text-white">
          Welcome, please register or login to create camps and upload reviews!
        </h3>
        <div class="mb-3 mt-3 d-flex justify-content-center">
          <a
            class="btn btn-success"
            style="width: 8rem; margin-right: 2rem"
            href="<%=process.env.BASE_URL%>/register"
          >
            Register
          </a>
          <a
            class="btn btn-info"
            style="width: 8rem"
            href="<%=process.env.BASE_URL%>/login"
          >
            Login
          </a>
        </div>
      </div>
      <% } %> <% if(user && camps.author != user._id) { %>
      <div class="mt-5 text-center">
        <div class="mb-3 mt-3 d-flex justify-content-center">
          <a
            class="btn btn-success"
            style="width: 8rem"
            href="<%=process.env.BASE_URL%>/camps/new"
          >
            New Camp
          </a>
        </div>
      </div>
      <% } %>
      <div id="cluster-map" style="height: 500px;"></div>
      <div class="mb-5"></div>
      <% for (let camp of camps) { %>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <% if(camp.images.length) { %>
            <img class="img-fluid" src="<%= camp.images[0].url %>" alt="" />
            <% } else { %>
            <img
              class="img-fluid"
              src="https://res.cloudinary.com/dghtrpkzv/image/upload/v1627010258/NZCamps/y7j02irkp4mysmhnq3o0.jpg"
              alt=""
            />
            <% } %>
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column" style="height: 100%">
              <h5 class="card-title"><%= camp.title %></h5>
              <p class="card-text">
                <small class="text-muted"><%= camp.location %></small>
              </p>
              <p class="card-text"><%= camp.description %></p>
              <div class="mt-auto">
                <% if(!camp.reviews.length) { %>
                <h6 class="card-title">No Reviews Yet</h6>
                <% } %> <% if(camp.reviews.length > 1) { %> <% let lastReview =
                []; %> <% lastReview = map =>
                Array.from(camp.reviews.values()).pop(); %>
                <h6 class="card-title">Latest Review:</h6>
                <p
                  class="starability-result"
                  data-rating="<%= lastReview().rating %>"
                ></p>
                <% } %> <% if(camp.reviews.length === 1) { %>
                <h6 class="card-title">Latest Review:</h6>
                <% for(review of camp.reviews) { %>
                <p
                  class="starability-result"
                  data-rating="<%= review.rating %>"
                ></p>
                <% } %> <% } %>
                <div class="mt-4">
                  <a class="btn btn-info text-white" href="/camps/<%=camp._id%>"
                    >View <%=camp.title%></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%}%>
      <script>
        const camps = {features: <%-JSON.stringify(camps)%>};
      </script>
      <script src="js/clusterMap.js"></script>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/validateForms.js"></script>
    >
  </body>
</html>
